* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body {
        background-color: lightgrey;
        ul {
            padding-left: 30px;
            list-style-type: decimal;
        }
        footer,
        header {
            background-color: grey;
        }
    }
}
