* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* body {
  background-color: lightgrey;
}

* body ul {
  padding-left: 30px;
  list-style-type: decimal;
}

* body footer,
* body header {
  background-color: grey;
}

